*{
  padding: 0;
  margin: 0;
  box-sizing: content-box
}

#code {
  height: 100vh;
  overflow: hidden;
}

.token.comment,
.token.punctuation,
.token.property,
.token.punctuation,
.token.selector,
.token.function
{
  color: black
}


